.bg-full {
  text-align:"right";
  background-image: url("../img/mail1.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100vh;
}

.overlay {
  position: relative;
  background-color: rgba(0, 0, 0,0.4);
  height: 100%;
  width: 100%;
}

.cont{
  text-align: center;
  color: #DDD;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 100px;
}

.dashboard{
  background-image: url("../img/mail3.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 100vh;
}

.row{
  margin: 0;
}

